
input[type="submit"] {
  border: 1px solid rgba(255, 255, 255, 0.5);;
  border-radius: 7px;
  margin-left: -125px;
  height: 50px;
  width: 125px;
  background: green;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
}
input[type="text"]:first-child {
  padding-right: 100px;
  width: 1300px;
  height: 20px;
  font-size: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border 1s;
  padding: 12px;
  resize:none;
}

input[type="submit"]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.5s;
}
i {
  cursor: pointer;
  margin-left: 10px;
}
i:nth-child(2){
  cursor: pointer;
  margin-left: 10px;
}

i:nth-child(2):checked {
  display: none;
}
i:last-child {
  float: right;
}

.note {
  background-color: lightyellow;
  width: 300px;
  height: 300px;
  border: 5px rgba(0,0,0,0.24);
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
div textarea {
  width: 100%;
  height: 200px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  margin: 50px;
}
